Repository maxwell-tchiabe/fined-mentor: changes, and which Jenkins stages are due for each by the changed paths.
All: Build backend Image, Build frontend Image, Push Backend Image, Push Frontend Image

Path conditions:
  Build backend Image: (any of: backend/**) or (any of: Jenkinsfile)
  Build frontend Image: (any of: frontend/**) or (any of: Jenkinsfile)
  Push Backend Image: (any of: backend/**) or (any of: Jenkinsfile)
  Push Frontend Image: (any of: frontend/**) or (any of: Jenkinsfile)

fix:test jenkins pipeline
  render.yaml
Due: none

fix: test if frontend got trigged
  frontend/.gitignore
Due: Build frontend Image, Push Frontend Image

fix: added detect_change
  Jenkinsfile
Due: Build backend Image, Build frontend Image, Push Backend Image, Push Frontend Image

fix:test again pipeline
  frontend/.gitignore
Due: Build frontend Image, Push Frontend Image

Update .gitignore to include IDEs and editors
  frontend/.gitignore
Due: Build frontend Image, Push Frontend Image

fix
  Jenkinsfile
  frontend/.gitignore
Due: Build backend Image, Build frontend Image, Push Backend Image, Push Frontend Image

Update image tags to 20 [ci skip]
  infrastructure/fined-mentor-frontend.yaml
Due: none

fix:updated Sign in
  frontend/src/assets/i18n/de.json
Due: Build frontend Image, Push Frontend Image

Update image tags to 21 [ci skip]
  infrastructure/fined-mentor-frontend.yaml
Due: none

Update comment to use 'app' instead of 'application'
  frontend/Dockerfile
Due: Build frontend Image, Push Frontend Image

Update comment to reflect multiple Angular apps
  frontend/Dockerfile
Due: Build frontend Image, Push Frontend Image

Update image tags to 23 [ci skip]
  infrastructure/fined-mentor-frontend.yaml
Due: none

feat: Implement chat and quiz features including guest streaming, rate limiting.
  backend/src/main/java/com/fined/mentor/auth/config/RateLimitFilter.java
  backend/src/main/java/com/fined/mentor/auth/config/RedisConfig.java
  backend/src/main/java/com/fined/mentor/chat/controller/ChatController.java
  backend/src/main/java/com/fined/mentor/chat/controller/PublicChatController.java
  backend/src/main/java/com/fined/mentor/chat/dto/GuestChatMessageRequest.java
  backend/src/main/java/com/fined/mentor/chat/service/ChatService.java
  backend/src/main/java/com/fined/mentor/chat/service/ChatServiceImpl.java
  backend/src/main/java/com/fined/mentor/quiz/controller/PublicQuizController.java
  backend/src/main/java/com/fined/mentor/quiz/controller/QuizController.java
  backend/src/main/java/com/fined/mentor/quiz/dto/GuestQuizRequest.java
  frontend/src/app/app.routes.ts
  frontend/src/app/core/services/quiz-streaming.service.ts
  frontend/src/app/core/services/streaming.service.ts
  frontend/src/app/features/chat/components/chat-panel/chat-panel.component.html
  frontend/src/app/features/chat/pages/chat-page/chat-page.component.html
  frontend/src/app/features/chat/pages/chat-page/chat-page.component.ts
  frontend/src/app/features/landing/landing-page/landing-page.component.html
  frontend/src/assets/i18n/de.json
  frontend/src/assets/i18n/en.json
  frontend/src/assets/i18n/fr.json
Due: Build backend Image, Build frontend Image, Push Backend Image, Push Frontend Image

fix:added a quick regex cleaning step to carefully strip those markdown formatting
  frontend/src/app/features/chat/pages/chat-page/chat-page.component.ts
  frontend/src/assets/i18n/de.json
Due: Build frontend Image, Push Frontend Image

fix:added ingress
  .gitignore
  Jenkinsfile
  application.yaml
  infrastructure/ingress/fined-mentor-backend.yaml
  infrastructure/ingress/fined-mentor-frontend.yaml
  infrastructure/ingress/ingress.yaml
  infrastructure/ingress/redis.yaml
Due: Build backend Image, Build frontend Image, Push Backend Image, Push Frontend Image

Rename stage to 'Build all Docker Images'
  Jenkinsfile
Due: Build backend Image, Build frontend Image, Push Backend Image, Push Frontend Image

Fix comment formatting in TavilyApiClient
  backend/src/main/java/com/fined/mentor/tavily/TavilyApiClient.java
Due: Build backend Image, Push Backend Image

Update comment for TavilyApiClient class
  backend/src/main/java/com/fined/mentor/tavily/TavilyApiClient.java
Due: Build backend Image, Push Backend Image

Update image tags to 6 [ci skip]
  infrastructure/ingress/fined-mentor-backend.yaml
Due: none

Update fined-mentor-backend image version to 14
  infrastructure/ingress/fined-mentor-backend.yaml
Due: none

feat: added SonarQube Analysis Stage and Quality Gate
  Jenkinsfile
Due: Build backend Image, Build frontend Image, Push Backend Image, Push Frontend Image

fix: added Maven tools
  Jenkinsfile
Due: Build backend Image, Build frontend Image, Push Backend Image, Push Frontend Image

fix: added JDK21
  Jenkinsfile
Due: Build backend Image, Build frontend Image, Push Backend Image, Push Frontend Image

doc:comment dockerfile
  backend/Dockerfile
Due: Build backend Image, Push Backend Image

feat: added unit test using Junit , mokito and Jacoco
  backend/pom.xml
  backend/src/test/java/com/fined/mentor/MentorApplicationTests.java
  backend/src/test/java/com/fined/mentor/auth/controller/AuthControllerTest.java
  backend/src/test/java/com/fined/mentor/auth/service/AuthServiceTest.java
  backend/src/test/java/com/fined/mentor/auth/service/JwtServiceTest.java
  backend/src/test/java/com/fined/mentor/auth/service/TokenServiceTest.java
  backend/src/test/java/com/fined/mentor/auth/service/UserDetailsServiceImplTest.java
  backend/src/test/java/com/fined/mentor/chat/controller/ChatControllerTest.java
  backend/src/test/java/com/fined/mentor/chat/controller/PublicChatControllerTest.java
  backend/src/test/java/com/fined/mentor/chat/service/ChatMessageServiceImplTest.java
  backend/src/test/java/com/fined/mentor/chat/service/ChatServiceImplTest.java
  backend/src/test/java/com/fined/mentor/chat/service/ChatSessionServiceImplTest.java
  backend/src/test/java/com/fined/mentor/quiz/controller/QuizControllerTest.java
  backend/src/test/java/com/fined/mentor/quiz/service/QuizGenerationServiceImplTest.java
  backend/src/test/java/com/fined/mentor/quiz/service/QuizServiceImplTest.java
  backend/src/test/java/com/fined/mentor/tavily/TavilyApiClientTest.java
  backend/src/test/java/com/fined/mentor/tavily/TavilySearchToolTest.java
Due: Build backend Image, Push Backend Image

Reduce timeout duration in Quality Gate stage
  Jenkinsfile
Due: Build backend Image, Build frontend Image, Push Backend Image, Push Frontend Image

Fix formatting of jwtSecret declaration in JwtServiceTest
  backend/src/test/java/com/fined/mentor/auth/service/JwtServiceTest.java
Due: Build backend Image, Push Backend Image

fix:added semver + gitsha
  .gitignore
  Jenkinsfile
Due: Build backend Image, Build frontend Image, Push Backend Image, Push Frontend Image

feat: add comprehensive unit test suite for backend components
  backend/pom.xml
  backend/src/main/java/com/fined/mentor/chat/service/ChatSessionServiceImpl.java
  backend/src/main/java/com/fined/mentor/quiz/service/QuizServiceImpl.java
  backend/src/test/java/com/fined/mentor/auth/controller/AuthControllerTest.java
  backend/src/test/java/com/fined/mentor/auth/service/AuthServiceTest.java
  backend/src/test/java/com/fined/mentor/auth/service/EmailServiceTest.java
  backend/src/test/java/com/fined/mentor/chat/controller/ChatControllerTest.java
  backend/src/test/java/com/fined/mentor/chat/service/ChatMessageServiceImplTest.java
  backend/src/test/java/com/fined/mentor/chat/service/ChatSessionServiceImplTest.java
  backend/src/test/java/com/fined/mentor/quiz/controller/PublicQuizControllerTest.java
  backend/src/test/java/com/fined/mentor/quiz/controller/QuizControllerTest.java
  backend/src/test/java/com/fined/mentor/quiz/service/QuizServiceImplTest.java
  backend/src/test/java/com/fined/mentor/quiz/service/TopicValidatorServiceTest.java
  backend/src/test/java/com/fined/mentor/tavily/TavilyApiClientTest.java
Due: Build backend Image, Push Backend Image

feat: implement rate limiting filter and auth controller endpoints for user management and password recovery
  backend/src/main/java/com/fined/mentor/auth/config/RateLimitFilter.java
  backend/src/main/java/com/fined/mentor/auth/controller/AuthController.java
  backend/src/main/java/com/fined/mentor/auth/service/EmailService.java
  backend/src/test/java/com/fined/mentor/auth/service/AuthServiceTest.java
Due: Build backend Image, Push Backend Image

fix:the Docker 401 Unauthorized erro in jenkins pipeline
  Jenkinsfile
Due: Build backend Image, Build frontend Image, Push Backend Image, Push Frontend Image

fix:docker
  Jenkinsfile
  backend/Dockerfile
Due: Build backend Image, Build frontend Image, Push Backend Image, Push Frontend Image

Update image tags to 1.0.0-f702a6c [ci skip]
  infrastructure/ingress/fined-mentor-backend.yaml
Due: none

fix:upgrading the Spring Boot parent version and specific dependency overrides (Netty, Tomcat, Jackson, etc.) to their fixed versions.
  backend/pom.xml
Due: Build backend Image, Push Backend Image

fix:updated dockerfile
  backend/Dockerfile
Due: Build backend Image, Push Backend Image

fix:added comment
  backend/src/main/java/com/fined/mentor/core/exception/GlobalExceptionHandler.java
Due: Build backend Image, Push Backend Image

Update image tags to 1.0.0-8e5e02e [ci skip]
  infrastructure/ingress/fined-mentor-backend.yaml
Due: none

fix:added trivy scan image and artifact report
  Jenkinsfile
Due: Build backend Image, Build frontend Image, Push Backend Image, Push Frontend Image

fix:scaning image
  backend/src/main/java/com/fined/mentor/core/exception/GlobalExceptionHandler.java
Due: Build backend Image, Push Backend Image

Fix formatting in README_AUTH.md
  backend/postman/README_AUTH.md
Due: Build backend Image, Push Backend Image
